html {
    font-size: 62.5%;
}

body {
    color: $darkest-brown;
    font-family: $body-font;
    font-size: 1.5rem;

    @media (min-width: 750px) {
        font-size: 1.7rem;
    }

    @media (min-width: 1200px) {
        font-size: 2rem;
    }
}

a {
    border-bottom: 1px solid transparent;
    color: $dark-pink;
    text-decoration: none;
    transition: $transition;

    &:hover {
        color: $light-maroon;
        text-decoration: underline;
    }
}

div.app > div {
    background-attachment: fixed;
    background-color: $lightest-brown;
    background-image: url(../../images/tiki-bg.svg), url(../../images/tiki-bg.svg);
    background-position: top left, top right;
    background-size: contain, contain;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-columns: 1fr minmax(300px, 750px) 1fr;
}

form {
    input[type=text],
    input[type=search],
    input[type=submit],
    textarea {
        // background-color: lighten($dark-pink, 55);
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $darkest-brown;
        box-sizing: border-box;
        display: block;
        margin-bottom: 1rem;
        padding: 3px 0;
        transition: $transition;
        width: 100%;

        &:required {
            box-shadow: none;
        }
    }

    input[type=submit] {
        background-color: $light-orange;
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 1rem;
        padding: 20px;
        text-transform: uppercase;
        transition: $transition;
        width: 100%;

        &:hover {
            background-color: $bright-orange;
        }
    }

    input[type=text]:focus,
    input[type=search]:focus,
    textarea:focus {
        border-bottom: 2px solid $light-pink;
    }

    input[type=radio] {
        display: inline-block;
        margin: 0 6px 0 20px;
    }

    label {
        color: $darkest-brown;
        display: inline-block;
        font-weight: bold;
        margin: 1rem 0;
        text-transform: uppercase;
    }

    .form-flex {
        display: flex;
        justify-content: space-between;
    }

    .sentence-case > * {
        text-transform: none;
    }
}

footer, 
header,
main {
    background-color: $lightest-brown;
    box-shadow: $box-shadow;
    grid-column: 2 / 3;
}

footer {
    box-shadow:  $box-shadow, -1px 0px 2px rgba(0,0,0,0.3);     
    font-size: 1.5rem;
    font-weight: $bold;
    text-align: center;
    text-transform: uppercase;
}

header {

    h1 {
        margin-bottom: 1rem;

        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            animation-direction: reverse;
        }
    }
    
    img {
        display: block;
        margin: 0 auto;
        max-width: 300px;
        
        @media (min-width: 600px) {
            max-width: 500px;
        }
    }
}

main {
    padding: 0 10px;

    @media (min-width: 600px) {
        padding: 0 20px;
    }

    @media (min-width: 1000px) {
        padding: 0 50px;    
    }
}

nav {
    margin-bottom: 1rem;
    text-align: center;

    ul {
        display: block;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        li {
            display: inline;

            @media (min-width: 300px) {
                background-image: url(../../images/tiki-star-brown.svg);
                background-repeat: no-repeat;
                background-position-x: 100%;
                padding-right: 2.2rem;
            }

            &:last-of-type {
                background-image: none;
                padding-right: 0;
            }

            a {
                color: $dark-pink;
                display: inline-block;
                font-size: 1em;
                font-weight: $bold;
                padding: 20px;
                text-decoration: none;
                text-transform: uppercase;

                @media (min-width: 600px) {
                    font-size: 1.8rem;  
                }

                @media (min-width: 1000px) {
                    font-size: 2.4rem;
                    
                }

                &:hover {
                    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                }
            }
        }
    }
}

.active {
    color: $dark-maroon;
}

.bar-list,
.bar-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    h3 {
        transition: $transition;
        &:hover {
            color: $dark-maroon;
            text-decoration: underline;
        }
    }

    
    &-item {
        margin-bottom: 1.5rem;
            h3 {
                padding-bottom: 1rem;
            }
    }
    
    li {
        padding: 0;

        i {
            margin-left: 5px;
        }
    }

    .react-sanfona-item-body-wrapper > div h3 {
        display: none;
    }
}

.button {
    background-color: $light-orange;
    color: white;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
        background-color: $bright-orange;
    }
}

.hidden {
    display: none;
}

.notes {
    font-family: $body-font;
    font-size: 1.6rem;
    line-height: 1.1;
}

.search {

    &-form {
        .search-bar {
            display: grid;
            grid-template-columns: 1fr;
            position: relative;

            input[type=search] {
                height: 100%;
                padding: 10px 0;
            }
    
            .button {
                border: none;
                bottom: 2px;
                height: 100%;
                padding: 0 20px;
                position: absolute;
                right: 0;
            }
        }
    }
    &-results {
        h2 {
            font-size: 1em;
            padding-top: 1rem;
            text-transform: uppercase;
        }

        &-list {
            h3 {
                font-size: 1em;
                margin-bottom: 1rem;
            }
            p {
                margin: 0 0 0.5rem;
            }
        }
    }
    
}


@keyframes shake {
  10%, 90% {
    transform: rotate(-5deg);
  }
  
  20%, 80% {
    transform: rotate(5px);
  }

  30%, 50%, 70% {
    transform: rotate(-3px);
  }

  40%, 60% {
    transform: rotate(10px);
  }
}
/* adapted from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
