/* colors */
$dark-maroon: #8c2042;
$light-maroon: #9b2851;
$off-white: #f0f5cd;
$light-pink: #f178a5;
$dark-pink: #f05986;
$bright-orange: #f47025;
$light-orange: #f7941f;
$light-brown: #a15940;
$dark-brown: #a15940;
$lightest-brown: #ECDED9;
$darkest-brown: darken($dark-brown, 15);

/* fonts */
$body-font: "futura-pt";
$regular: 400;
$bold: 700;

$box-shadow: -2px 0 0 rgba(0,0,0,0.3), 2px 0 0 rgba(0,0,0,0.3);
$transition: all 0.5s ease-in-out;
